<div class="box">
    <h2>Already have an account? Login here.</h2>
    <br>
    <button><a href="/auth/login"> Login <i class="fa fa-sign-in"></i></a></button>
</div>

<hr>

<h1>Signup</h1>

<div class="row">
    <form method="POST" action="/auth/signup" class="col s12">
        <div class="row">
        <div class="input-field col s6">
            <input id="firstName" type="text" class="validate" name="firstname" value="<%= data.firstname %>">
            <label for="firstName">First Name</label>
        </div>
        <div class="input-field col s6">
            <input id="lastName" type="text" class="validate" name="lastname" value="<%= data.lastname %>">
            <label for="lastName">Last Name</label>
        </div>
        </div>

        <div class="row">
        <div class="input-field col s4">
            <input id="email" type="email" class="validate" name="email" value="<%= data.email %>">
            <label for="email">Email</label>
        </div>
        
        <div class="input-field col s4">
            <input id="userName" type="text" class="validate" name="username" value="<%= data.username %>">
            <label for="userName">Username</label>
        </div>

        <div class="input-field col s4">
            <input id="birthDate" type="text" class="datepicker validate" name="birthdate" value="<%= data.birthdate %>">
            <label for="birthDate">Birth date</label>
        </div>
        </div>

        <div class="row">
        <div class="input-field col s6">
            <input id="password" type="password" class="validate" name="password">
            <label for="password">Password</label>
        </div>
        <div class="input-field col s6">
            <input id="verifyPassword" type="password" class="validate" name="password_verify">
            <label for="verifyPassword">Verify Password</label>
        </div>
        </div>

        <div class="row">
        <div class="input-field col s12">
            <input id="profile" type="url" class="validate" name="photoUrl" value="<%= data.photoUrl %>">
            <label for="profile">Profile Picture URL</label>
        </div>
        </div>

        <div class="row">
        <div class="input-field col s12">
            <textarea id="bio" class="materialize-textarea validate" name="bio"><%=data.bio%></textarea>
            <label for="bio">User Bio</label>
        </div>
        </div>

        <button class="submit" type="submit">Sign me up!
            <i class="fa fa-pencil-square-o"></i>
        </button>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker')
    let startDate = new Date()
    startDate.setFullYear(startDate.getFullYear() - 30)
    var instances = M.Datepicker.init(elems, {
        autoClose: true,
        defaultDate: startDate,
        minYear: startDate.getFullYear() - 70,
        maxYear: (new Date()).getFullYear()
    })
  })
</script>