<div class="box">
    <h2>Already have an account? Login here.</h2>
    <br>
    <button><a href="/auth/login"> Login <i class="fa fa-sign-in"></i></a></button>
</div>

<hr>

<h1>Signup</h1>

<div class="row">
    <form method="POST" action="/auth/signup" class="col-12">
        <div class="row">
        <div class="form-group col-6">
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" class="validate form-control" name="firstname" value="<%= data.firstname %>">
        </div>
        <div class="form-group col-6">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" class="validate form-control" name="lastname" value="<%= data.lastname %>">
        </div>
        </div>

        <div class="row">
        <div class="form-group col-6">
            <label for="email">Email</label>
            <input id="email" type="email" class="validate form-control" name="email" value="<%= data.email %>">
        </div>
        
        <div class="form-group col-6">
            <label for="userName">Username</label>
            <input id="userName" type="text" class="validate form-control" name="username" value="<%= data.username %>">
        </div>

        </div>

        <div class="row">
        <div class="form-group col-6">
            <label for="password">Password</label>
            <input id="password" type="password" class="validate form-control" name="password">
        </div>
        <div class="form-group col-6">
            <label for="verifyPassword">Verify Password</label>
            <input id="verifyPassword" type="password" class="validate form-control" name="password_verify">
        </div>
        </div>

        <div class="row">
        <div class="form-group col-12">
            <label for="profile">Profile Picture URL</label>
            <input id="profile" type="url" class="validate form-control" name="photoUrl" value="<%= data.photoUrl %>">
        </div>
        </div>

        <div class="row">
        <div class="form-group col-12">
            <label for="bio">User Bio</label>
            <textarea id="bio" class="form-control validate" name="bio" rows="4"><%=data.bio%></textarea>
        </div>
        </div>

        <button class="submit" type="submit">Sign me up!
            <i class="fa fa-pencil-square-o"></i>
        </button>
    </form>
</div>