<div class="quote">
    <h1>Daily Dose Of Inspiration:</h1>
    <h2>"<%= quote.quoteText %>"</h2>
    <% if (quote.authorAuthor) { %>
        <h4 class="float-right">- <%= quote.authorAuthor %></h4>
    <% } else { %>
    <h4 class="float-right">- Anonymous</h4>
    <br>
    <% } %>
</div>

<br>
<br> 

<div class="row">
    <div class="col-3">
        <h4><strong>Other Devotees:</strong></h4>
        <hr>
        <div class="scroll-panel">
            <% users.forEach ( user => { %> 
                <% if (user.id != currentUser.id) { %>
                    <div class="user-cards container">
                        <img alt="user picture" src="<%= user.photoUrl %>" height="70" class="float-left user-photo">
                        <div class="left-align">
                            <h5><strong><%= user.username %></strong></h5>
                            <h6>Devotee since: <%= moment(user.createdAt).calendar() %></h6>
                            <p class="text-truncate"><%= user.bio %></p>
                        </div>
                        <button>Add as friend.</button>
                    </div>
                <% } %>
            <% }) %>
        </div>
    </div>

    <div class="col-3">
        <h4><strong>New Routines:</strong></h4>
        <hr>
        <div class="scroll-panel">
            <% publicRoutines.forEach( (routine) => { %>
                <div class="user-cards container text-left">
                    <h4><%= routine.name %></h4>
                    <p>Created: <%= moment(routine.createdAt).calendar() %></p>
                    <p>Music: <%= routine.music %> <i class="fa fa-music"></i></p>
                    
                    <div class="routine_buttons text-center">
                        <a href="/routines/<%= routine.id %>"><button>View</button></a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <div class="col-6">
        <h4><strong>Chat:</strong></h4>
        <hr>
        <div>
            Chat here.
        </div>
    </div>
</div>