<h1><%= routine.name %></h1>

<button type="button" id="start_routine_button"><i class="fa fa-play-circle"></i> Start Routine</button>
<button type="button" id="stop_routine_button"><i class="fa fa-stop-circle"></i> Stop Routine</button>
<button type="button" id="replay_routine_button"><i class="fa fa-repeat"></i> Replay Routine</button>

<hr>
<div class="row">
  <div class="container col-10 slides">
    <div class="my-carousel">
      <% poses.forEach( pose => { %>
        <div>
          <h2><%= pose.sanskrit_name %> / <%= pose.english_name %></h2>
          <h3>Hold for: <%= pose.routines_poses.duration %> seconds</h3>
          <img src="<%= pose.img_url %>" alt="<%= pose.sanskrit_name %>" class="mx-auto" width="400">
        </div>
      <% }) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="container col-10 slides">
    <div>
      <h3 id="timer"></h3>
    </div>
    <br>
    <div class="next_pose">
      <h3>Next up:</h3>
      <img id="next_pose" src="#" height="50">
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="container col-10 slides">
    <p>Created by <%= routine.user.firstname %> <%= routine.user.lastname %> <%= moment(routine.createdAt).calendar() %>.
      <% if (routine.private) { %> 
        <i class="fa fa-lock"></i>
      <% }  else { %>
        <i class="fa fa-unlock"></i>
      <% } %>
    </p>
  </div>
</div>

<audio id="bensound-betterdays" src="/music/bensound-betterdays.mp3" loop></audio>
<audio id="bensound-india" src="/music/bensound-india.mp3" loop></audio>
<audio id="bensound-relaxing" src="/music/bensound-relaxing.mp3" loop></audio>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">

<script>
  //play ding at end of a pose to alert person
  //play sound at end, alert last pose
  //give 5 seconds to get into new pose, start timer
document.addEventListener('DOMContentLoaded', () => {
  let startButton = document.getElementById('start_routine_button')
  let stopButton = document.getElementById('stop_routine_button')
  let replayButton = document.getElementById('replay_routine_button')
  let slideNumer = 0
  let poses = <%- JSON.stringify(poses) %>
  console.log(poses)
  let currentSlide
  let nextSlide
  let length_of_pose
  let timeout
  let interval

  $('.my-carousel').slick({
    infinite: false,
    centerMode: true,
    centerPadding: '100px',
    slidesToShow: 1,
    fade: true,
    cssEase: 'ease-in'
  })

  const timer = (seconds) => {
    document.getElementById('timer').innerHTML = 'Time remaining: ' + seconds + ' seconds'
      interval = setInterval( () => {
        if (seconds > 0) {
        seconds--
        if (currentSlide == poses.length - 1 && seconds == 0) {
          document.getElementById('timer').innerHTML = 'ROUTINE COMPLETE! CONGRATS!'
          stopButton.style.display = 'none'
          startButton.style.display = 'none'
          replayButton.style.display = 'inline-block'
        } else {
          document.getElementById('timer').innerHTML = 'Time remaining: ' + seconds  + ' seconds'
        }
      }
      }, 1000)
  }

  const swapSlide = () => {
    $('.my-carousel').slick('slickNext')
    currentSlide = $('.my-carousel').slick('slickCurrentSlide')
    console.log(currentSlide)
    nextSlide = currentSlide + 1
    length_of_pose = poses[currentSlide].routines_poses.duration * 1000
    console.log(length_of_pose)
    timer(poses[currentSlide].routines_poses.duration)
    if (nextSlide < poses.length) {
      document.getElementById('next_pose').src = poses[nextSlide].img_url
      timeout = setTimeout(swapSlide, length_of_pose)
    } else {
      document.getElementsByClassName('next_pose')[0].style.display = 'none'
    }

    //if at end then do something different
  }

  let arrows = Array.from(document.getElementsByClassName('slick-arrow'))
  arrows.forEach( arrow => {
    arrow.addEventListener( 'click', () => {
    clearInterval(interval)
    clearTimeout(timeout)
    $('.my-carousel').slick('slickPause')
    startButton.style.display = 'inline-block'
    stopButton.style.display = 'none'
    currentSlide = $('.my-carousel').slick('slickCurrentSlide')
    document.getElementById('timer').innerHTML = 'Time remaining: ' + poses[currentSlide].routines_poses.duration  + ' seconds'
    let nextSlide = currentSlide + 1
    if (nextSlide < poses.length) {
      console.log(nextSlide)
      console.log(poses[nextSlide])
      document.getElementById('next_pose').src = poses[nextSlide].img_url
      document.getElementsByClassName('next_pose')[0].style.display = 'inline-block'
    } else {
      document.getElementsByClassName('next_pose')[0].style.display = 'none'
    }
    })
  })

  startButton.addEventListener( 'click', () => {
    clearInterval(interval)
    clearTimeout(timeout)
    currentSlide = $('.my-carousel').slick('slickCurrentSlide')
    nextSlide = currentSlide + 1
    if (nextSlide < poses.length) {
      document.getElementById('next_pose').src = poses[nextSlide].img_url
      document.getElementsByClassName('next_pose')[0].style.display = 'inline-block'
      length_of_pose = poses[currentSlide].routines_poses.duration * 1000
      timer(poses[currentSlide].routines_poses.duration)
      timeout = setTimeout(swapSlide, length_of_pose)
    } else {
      document.getElementsByClassName('next_pose')[0].style.display = 'none'
      timer(poses[currentSlide].routines_poses.duration)
    }
    startButton.style.display = 'none'
    stopButton.style.display = 'inline-block'
    document.getElementById('<%= routine.music %>').play()
    stopButton.addEventListener( 'click', () => {
      document.getElementById('<%= routine.music %>').pause()
      $('.my-carousel').slick('slickPause')
      clearInterval(interval)
      clearTimeout(timeout)
      stopButton.style.display = 'none'
      startButton.style.display = 'inline-block'
    })
    replayButton.addEventListener( 'click', () => {
      replayButton.style.display = 'none'
      $('.my-carousel').slick('slickGoTo', 0)
      currentSlide = $('.my-carousel').slick('slickCurrentSlide')
      nextSlide = currentSlide + 1
      document.getElementById('timer').innerHTML = ''
      document.getElementsByClassName('next_pose')[0].style.display = 'inline-block'
      nextSlide < poses.length - 1 ? document.getElementById('next_pose').src = poses[nextSlide].img_url:document.getElementsByClassName('next_pose')[0].style.display = 'none'
      stopButton.style.display = 'none'
      startButton.style.display = 'inline-block'
    })
  })
})
</script>